/*Especificidad 0 0 1*/

body {
    font: 400 100% Tahoma, sans-serif;
    line-height: 1.8;
    color: #363636;
    background-color: #cdffc8;
}


/*Especificidad 0 0 1*/

h1 {
    color: white;
    background-color: black;
    text-transform: uppercase;
    padding: 75px 25px;
    text-align: center;
    background-image: url(multimedia/fondo.png);
    background-repeat: repeat-x;
    background-position: center;
}


/*Especificidad 0 0 1*/

h2 {
    color: black;
    background-color: #cdffc8;
}


/*Especificidad 0 1 1*/

.vResumen video {
    border: 1px solid #2a5227;
}


/*Especificidad 0 1 1*/

.vResumen h3 {
    text-align: center;
}


/*Especificidad 0 0 1*/

p {
    text-align: justify;
}


/*Especificidad 0 0 2*/

footer p {
    font-size: 75%;
    color: #2a5227;
    background-color: #cdffc8;
}


/*Especificidad 0 0 1*/

table {
    line-height: 1.7;
    text-align: center;
    width: 30%;
    margin-bottom: 2%;
}


/*Especificidad 0 0 3*/

table,
th,
td {
    border: 0.1em solid #2a5227;
    border-collapse: collapse;
    color: black;
}

table,
td {
    background-color: white;
}


/*Especificidad 0 0 1*/

th {
    padding: 0.5em;
    background-color: #50a04a;
}